@model List<ABCRetailPOC.Models.Profile> ;


<h2>profiles</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>CustomerNumber</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in Model)
        {
            <tr>
                <td>@profile.UserName</td>
                <td>@profile.Email</td>
                <td>@profile.CustomerNumber</td>
                <td>@profile.Address</td>
                <td>
                    <a asp-action="Details" asp-route-partitionKey="@profile.PartitionKey" asp-route-rowKey="@profile.RowKey">Details</a> |
                    <a asp-action="Edit" asp-route-partitionKey="@profile.PartitionKey" asp-route-rowKey="@profile.RowKey">Edit</a> |
                    <a asp-action="Delete" asp-route-partitionKey="@profile.PartitionKey" asp-route-rowKey="@profile.RowKey">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
